{% extends 'base.html' %}

{% block title %}{{ baslik }}{% endblock %}

{% block content %}
<div style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
    <h2>{{ baslik }}</h2>
    <a href="{% url 'okuyucu:ana_sayfa' %}" style="text-decoration: none; color: #3498db;">← Yeni Arama</a>
</div>

{% if sonuclar %}
<div class="card" style="padding: 0; overflow: hidden;">
    <table style="width: 100%; border-collapse: collapse; text-align: left;">
        <thead style="background-color: #2c3e50; color: white;">
            <tr>
                {% if sorgu_tipi == 'sinav' %}
                <div class="row mb-4 text-center">
                    <div class="col-md-4">
                        <div class="card text-white bg-info shadow-sm mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Sınıf Ortalaması</h5>
                                <h2 class="card-text fw-bold">{{ ortalama }}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-success shadow-sm mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Geçen Öğrenci</h5>
                                <h2 class="card-text fw-bold">{{ gecen_sayisi }}</h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card text-white bg-danger shadow-sm mb-3">
                            <div class="card-body">
                                <h5 class="card-title">Kalan Öğrenci</h5>
                                <h2 class="card-text fw-bold">{{ kalan_sayisi }}</h2>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for s in sonuclar %}
            <tr style="border-bottom: 1px solid #eee;">
                {% if sorgu_tipi == "sinav" %}
                <td style="padding: 1rem;">{{ s.ogrenci.ogrenci_id }}</td>
                <td style="padding: 1rem;">{{ s.ogrenci.ad_soyad }}</td>
                {% else %}
                <td style="padding: 1rem;">{{ s.sinav.sinav_id }}</td>
                <td style="padding: 1rem;">{{ s.sinav.ders.ders_adi }}</td>
                {% endif %}
                <td style="padding: 1rem;">{{ s.soru_1 }}</td>
                <td style="padding: 1rem;">{{ s.soru_2 }}</td>
                <td style="padding: 1rem;">{{ s.soru_3 }}</td>
                <td style="padding: 1rem;">{{ s.soru_4 }}</td>
                <td style="padding: 1rem;">{{ s.soru_5 }}</td>
                <td style="padding: 1rem; font-weight: bold;">{{ s.toplam_puan }}</td>
                <td style="padding: 1rem;">
                    <span
                        class="badge {% if s.ai_karari == 'Geçti' %}badge-basarili{% else %}badge-basarisiz{% endif %}">
                        {{ s.ai_karari }}
                    </span>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="card">
    <p>Maalesef kriterlere uygun bir sonuç bulunamadı.</p>
</div>
{% endif %}
{% endblock %}